# Application
APP_NAME=go-library-user-service
APP_ENV=development
APP_PORT=9000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=go_library
DB_SSLMODE=disable

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1

# JWT
JWT_PRIVATE_KEY_PATH=./certs/private.pem
JWT_PUBLIC_KEY_PATH=./certs/public.pem
JWT_ISSUER=user-service
JWT_EXPIRES_IN=900

REFRESH_TOKEN_TTL=7
